---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import "@fontsource/dm-serif-display";
import "@fontsource/dm-sans/400.css";
import "@fontsource/dm-sans/600.css";
import Search from "../../components/Search.astro";
import BackToUp from '../../components/BackToUp.astro'
import { ViewTransitions } from "astro:transitions";
const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="es">
  <head>
    <ViewTransitions />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        display: flex;
        width: 980px;
        flex-direction: column;
        justify-content: center;
      }
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 300px;
      }
      ul li a {
        width: 100%;
        border: 1px solid #0000003f;
        backdrop-filter: blur(1px);
        border-radius: 15px;
        padding: 10px;
      }
      ul li a:hover h4,
      ul li a:hover .date {
        color: #e4dfdf !important;
      }
      ul a:hover li {
        box-shadow: var(--box-shadow);
      }
      ul a:hover h4 {
        text-decoration: underline wavy var(--secondary);
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
      /*      ul li:first-child {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
      }
      ul li:first-child img {
        width: 100%;
      }
      ul li:first-child .title {
        font-size: 2.369rem;
      } */
      ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
      }
      .title {
        margin: 0;
        color: var(--secondary);
        line-height: 1;
      }
      .date {
        margin: 0;
        color: rgb(var(--gray));
      }
      h4 {
        transition: 0.2s ease-in-out;
      }

      @media (max-width: 970px) {
        ul {
          grid-template-columns: 1fr 1fr;
          gap: 1.5em;
        }
        ul li a {
          text-align: center;
        }
      }

      @media (max-width: 600px) {
        ul {
          grid-template-columns: 1fr;
          gap: 1.5em;
          justify-content: center;
        }

        ul li {
          max-width: 320px;
          margin: auto;
        }
       
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section >
        <header>
          <h1 style="text-align: center;" transition:animate="initial">Post</h1>
          <Search/>
        </header>
        <ul id="posts">
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}/`}>
                  <img
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                  />
                  <h4 class="title">{post.data.title}</h4>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    
    <BackToUp/>
    <Footer />
  </body>
</html>
